* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #385e72;
}

main {
    
}

#calculator-container {
    background-color: #6AABD2;
    height: 600px;
    width: 400px;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display {
    background-color: #C1C2AD;
    min-height: 95px;
    width: 350px;
    border-radius: 10px;
    border: 3px solid black;
    margin-top: -10px;
    margin-bottom: 40px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #D9E4EC;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 17px;
    font-style: bold;
}

button.btn0 {
    width: 155px;
    border-radius: 50px;
    grid-column: span 2;
}

button.equal {
    height: 155px;
    border-radius: 50px;
    grid-column: 4;
    margin-top: -84px;
}